<style >
    .ui-datepicker-calendar {
          display: none;
      }​
  </style>
    <div class="heading-row mb-20"style="margin-top: 69px;">
      <div class="row align-item-center">
         <div class="col-lg-6">
            <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white mr-2"><i class="mdi mdi-account-plus"></i></span> Add Content </h3>
         </div>
          <div class="col-lg-6">
           <div class="text-right">
             <div>
               <a href="/users/dashboard" class="btn btn-common bg-gradient-primary">Go Back</a>
             </div>
           </div>
         </div>
    </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
             <div class="card-body">
               <div class="row">
                 <div class="col-md-11 m-auto">
                   <div class="add-painting-form">
                     <form  method="post" enctype="multipart/form-data" action="/users/update-painting">
                     <input type="hidden"name="id"value="<%=painting._id %>">
                      <div class="profile-form mt-20 view-banner-page">
                         <div class="row">
                            <div class="col-md-4">
                               <div class="form-group">
                                <label>Model Images(PNG, JPG, GIF, WEBP or MP4. Max 200mb.)</label>
                                 <div id="attribute_section_add_main">
                                   <div id="attribute_section_add" class="attribute_section-add-new">
                                       <div class="border-gray document-upload-box artist-img">
                                         <div class="text-left">
                                            <div class="uploader-img">
                                              <% if(painting.media_type[0]=="video"){%>

                                                <video video="260" height="200" controls>
                                                    <source src="/uploadFile/<%=painting.image %>" type="video/<%=painting.media_type[1] %>">
                                                </video>

                                              <% } 
                                               else{%>

                                                <img id="user_profile_image_preview" src="/uploadFile/<%=painting.image %>" class="m-t-5 painting-main-img" >

                                                
                                        
                                                <%}%>
                                              </div>
                                             <div class="input-group mb-3 mb-3 verification">
                                                <input type="text" class="form-control" readonly="" id="text_img_name" data-rule-required="true" data-msg-required="Please select your Id.">
                                                <span class="input-group-btn">
                                                  <span class="btn btn-common bg-gradient-primary btn-file1">
                                                  Upload <input type="file"id="imgInp6" value="" name="file" accept="image*" onchange="readURL(this);">
                                                   <input type="hidden" name="old_image" value="<%=painting.image %>">
                                                 
                                                   <input type="hidden" name="media_type" value="<%=painting.media_type %>">

                                                   </span>   
                                                </span>
                                                <button class="btn btn-common bg-gradient-primary removie-icon ml-15">
                                                  <i class="mdi mdi-delete-forever"></i>
                                                </button>
                                               </div>
                                            </div>
                                          </div>
                                         

                                    </div>
                                  </div>
                              </div>
                           </div>
                          
                           <div class="col-md-8">
                              <h4>Basic Details</h4>
                             
                             
  
                            
                              <div class="row">
                              
                               
                                 <div class="col-md-4">
                                   <div class="form-group">
                                    <label>No of copies</label>
                                    <input type="text"name="total_copy" value="<%=painting.total_copy %> " class="form-control">
                                  </div>
                                </div>
                                <div class="col-md-4">
                                   <div class="form-group">
                                    <label>No of copies for Sale</label>
                                    <input type="text" name="copy_for_sale" value="<%=painting.copy_for_sale %>" class="form-control">
                                  </div>
                                </div>
                               
                              </div>
  
                              <div class="row">
                                 <div class="col-md-4">
                                   <div class="form-group">
                                    <label>Display Name</label>
                                    <input type="text"name="title" value="<%=painting.title %>" class="form-control">
                                  </div>
                                </div>
                                 <div class="col-md-4">
                                   <div class="form-group">
                                      <label>Categories</label>
                                      <div class="box">
                                          <select class="form-control"name="category">
                                           
                                            <option  <% if(painting.category=="Age"){ %> selcted <% } %> value="Age">Age</option>
                                            <option  <% if(painting.category=="Fetish"){ %> selcted <% } %> value="Fetish">Fetish</option>
                                            <option  <% if(painting.category=="Orientaion"){ %> selcted <% } %> value="Orientaion">Orientaion</option>
                                            <option  <% if(painting.category=="Specific Acts"){ %> selcted <% } %> value="Specific Acts">Specific Acts</option>
                                            <option  <% if(painting.category=="Ethnicity"){ %> selcted <% } %> value="Ethnicity">Ethnicity</option>
                                            <option  <% if(painting.category=="Collectibles"){ %> selcted <% } %> value="Collectibles">Collectibles</option>


                                          </select>
                                        </div>
                                    </div>
                                </div>
  
                                
                              </div>
  
  
                                 
                              <h4>Pricing Details</h4>
                              <div class="row">
                                 <div class="col-md-4">
                                    <div class="form-group for-flex-inline">
                                      <label>For Sale</label>
                                       <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" onclick="displayRadioValue(value)" class="form-check-input" name="for_sale" id="optionsRadios1"<% if (painting.for_sale=="Yes") { %> checked
<% } %> value="Yes"> Yes <i class="input-helper"></i></label>
                                        </div>
                                         <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" onclick="displayRadioValue(value)" class="form-check-input" name="for_sale" id="optionsRadios1" <% if (painting.for_sale=="No") { %> checked
<% } %> value="No"> No <i class="input-helper"></i></label>
                                        </div>
                                    </div>
                                  </div>
                                </div>
  
                                <div class="row"id="price-detail-tab">
                                   <div class="col-md-4">
                                   <div class="form-group">
                                      <label>Basic Price(Taboo)</label>
                                      <input type="text" onkeyup="calTaboo(value)"name="basic_price" value="<%=painting.basic_price %>" class="form-control">
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                   <div class="form-group">
                                      <label>Plateform Fee(15%)</label>
                                      <input type="text" id="plateform_fees" name="plateform_fees"value="<%=painting.plateform_fees %>" class="form-control">
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                   <div class="form-group">
                                      <label>You get (Taboo)</label>
                                      <input type="text"id="total_taboo"name="total_taboo"value="<%=painting.total_taboo %>" class="form-control">
                                    </div>
                                </div>
                                
                              </div>
  
                               <h4>Accept Payment In</h4>
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="form-group for-flex-inline mt-3">
                                       <div class="form-check ml-0">
                                          <label class="form-check-label">
                                            <input type="checkbox"  name="payment_in" class="form-check-input"<% if (painting.payment_in=="Taboo") { %>checked
<% } %>value="Taboo"> Taboo </label>
                                        </div>

                                         
                                          
                                    </div>
                                  </div>
                                </div>
  
  
                                <h4>This content available For</h4>
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="form-group for-flex-inline mt-3">
                                       <div class="form-check ml-0">
                                          <label class="form-check-label">
                                            <input type="checkbox"  name="available_to" <% if (painting.available_to.includes("All")) { %>
 checked
<% } %> value="All"class="form-check-input"> Free </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="checkbox"name="available_to" <% if (painting.available_to.includes("1 Tier")) { %>
 checked
<% } %> value="1 Tier" class="form-check-input"> 1 Tier </label>
                                          </div>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="checkbox" name="available_to" <% if (painting.available_to.includes("2 Tier")) { %>
 checked
<% } %>value="2 Tier"class="form-check-input"> 2 Tier</label>
                                          </div>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="checkbox"name="available_to" <% if (painting.available_to.includes("3 Tier")) { %>
 checked
<% } %> value="3 Tier"class="form-check-input"> 3 Tier </label>
                                          </div>
                                         
                                          
                                    </div>
                                  </div>
                                </div>
  
                               
  
  
                                          <h4 class="">Chose Contract Type</h4>
                                            <div class="row">
                                               <div class="col-md-12">
                                                  <div class="form-group for-flex-inline">
                                                     <div class="form-check ml-0">
                                                        <label class="form-check-label">
                                                          <input type="radio" class="form-check-input" name="contract_type" id="optionsRadios1" <% if (painting.contract_type=="ERC 1155") { %>
 checked
<% } %> value="ERC 1155"> ERC 1155 <i class="input-helper"></i></label>
                                                      </div>
                                                       <div class="form-check">
                                                        <label class="form-check-label">
                                                          <input type="radio" class="form-check-input" name="contract_type" id="optionsRadios1" <% if (painting.contract_type=="ERC 721") { %>
 checked
<% } %> value=" ERC 721"> ERC 721  <i class="input-helper"></i></label>
                                                      </div>
                                                  </div>
                                                </div>
                                              </div>
  
  
  
  
  
                                 
                                
  
  
                                     
  
                                    <div class="row">
                                       <div class="col-md-12">
                                         <div class="form-group">
                                            <label>Meta Tag</label>
                                            <input type="text"name="meta_tag" value="<%=painting.meta_tag %>" class="form-control">
                                          </div>
                                      </div>
                                       <div class="col-md-12">
                                         <div class="form-group">
                                            <label>Description(optional)</label>
                                             <textarea class="form-control"name="description" rows="6">
                                              <%= painting.description %></textarea>
                                          </div>
                                      </div>
                                    </div>
  
  
  
  
  
                               <div class="popup-btn text-center">
                                
                                <button type="submit"  class="btn btn-common bg-gradient-primary">Submit</button>
                              </div>
                           </div>
                         </div>
                       
                        
                 
  
                     </div>
                     </form>
                   </div>
                 </div>
               </div>
             </div>
          </div>
        </div>
      </div>
  

      <script type="text/javascript" > 
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.onload = function (e) {
$('#user_profile_image_preview')
.attr('src', e.target.result)
.width(200)
.height(150);
};

reader.readAsDataURL(input.files[0]);
}
var src = $('#imgInp6').val(); // "static/images/banner/blue.jpg"
var tarr = src.split('/');      // ["static","images","banner","blue.jpg"]
var file = tarr[tarr.length-1]; // "blue.jpg"
var data = file.split('.')[0];  // "blue"

//alert(data);
$('#text_img_name').val(src);
}


function calTaboo(basic_price){
     // alert(basic_price)

      let plateform_fees=(basic_price*15)/100
      let total_taboo=basic_price-plateform_fees;
      $("#plateform_fees").val(plateform_fees);
      $("#total_taboo").val(total_taboo);
    }
    
    function displayRadioValue(value) {
           
           if(value=="No"){
              
              $("#price-detail-tab").css("display","none")
           }
           else
           {
             $("#price-detail-tab").css("display","")
           }
       }

 window.onload = function() {
  displayRadioValue("<%=painting.for_sale%>");
};
</script>  