<div class="heading-row mb-20">
    <div class="row align-item-center">
       <div class="col-lg-6">
          <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white mr-2"><i class="mdi mdi-home"></i></span> Content List </h3>
       </div>
       <div class="col-lg-6">
         <div class="text-right">
           <div>
             <a href="add-new-painting.php" class="btn btn-common bg-gradient-primary">Add Content</a>
           </div>
         </div>
       </div>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-header">
           <div class="row">
             <div class="col-md-2">
                  <div class="form-group">
                    <select id="select-new1" class="form-control">
                        <option>All Content</option>
                        <option>Dummy Content</option>
                        <option>Dummy Content</option>
                        <option>Dummy Content</option>
                      </select>
                  </div>
            </div>
             <div class="col-md-2">
                  <div class="form-group">
                    <select id="select-new2" class="form-control">
                        <option>All Category</option>
                        <option>Age</option>
                        <option>Fetish</option>
                        <option>Orientation</option>
                        <option>Specific Acts</option>
                        <option>Ethnicity</option>
                        <option>Collectibles</option>
                      </select>
                  </div>
            </div>
             <div class="col-md-2">
                  <div class="form-group">
                    <select id="select-new3" class="form-control">
                        <option>Price</option>
                        <option>10,000</option>
                        <option>20,000</option>
                        <option>30,000</option>
                      </select>
                  </div>
            </div>
             
            <div class="col-md-2">
                  <div class="form-group">
                    <select id="select-new5" class="form-control">
                        <option>Status</option>
                        <option>approved</option>
                        <option>Reject</option>
                        <option>Pending</option>
                      </select>
                  </div>
            </div>
             <div class="col-md-2">
                  <div class="form-group">
                    <input type="search" class="form-control search_painting" placeholder="Search">
                  </div>
                </div>
         </div>
         </div> 
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th width="5%">S. No.</th>
                <th width="8%">Image</th>
                <th width="10%">Content</th>
                <th width="16%">Category</th>
                <th width="7%">For Sale</th>
                <th width="10%">Basic Price</th>
                <th width="10%">Status</th>
                <th width="8%">Action</th>
              </tr>
            </thead>
            <tbody>
                <% painting.forEach(function(painting){ %>  
              <tr>
                <td>1</td>
                <td>
                  <div class="normal-img">
                    <img src="/uploadFile/<%=painting.image %>">
                  </div>
                </td>
                <td><%- painting.title %></td>
                <td><%- painting.category %></td>
                <td><%- painting.for_sale %></td>
                <td><%- painting.basic_price %></td>
                <td><%- painting.status %></td>
                
                 <td>
                  <div class="edit-icons">
                   
                    <a href="/users/edit-painting?id=<%=painting._id %>" data-toggle="tooltip" data-placement="top" title="Edit"><i class="mdi mdi-pencil"></i></a>

                    <a href="/users/delete-painting?id=<%=painting._id %>" data-toggle="tooltip" data-placement="top" title="Delete"><i class="mdi mdi-close"></i></a>
                  
                  </div>
                </td>
              </tr>

              <% }) %>
               
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>